
/* TWELVE */
/* GRID */

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }



/**
* --------------------------------------------------------------------------
* ALL
* --------------------------------------------------------------------------
*/

.row .three{padding: 80px 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: #2c3e50; color: #d46273; text-align: center; }
.hamburger .line{width: 25px; height: 3px; background-color: #d46273; display: block; margin: 4px auto; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.hamburger:hover{cursor: pointer; }
#hamburger-12.is-active .line:nth-child(1){opacity: 0; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }
#hamburger-12.is-active .line:nth-child(3){opacity: 0; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); }

/**
* --------------------------------------------------------------------------
* HOVER EFFECT BTN
* --------------------------------------------------------------------------
*/

a[class^="btn-"] {z-index:2;position: relative; display: block; overflow: hidden; width: 100%; max-width: 200px; margin: 1rem auto; text-transform: uppercase; padding: 10px 0; color: #222; font-family: 'nunito sans', sans-serif; background:transparent; } .btn-6 span {position: absolute; display: block; width: 0; height: 0; border-radius: 50%; -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out; transition: width 0.4s ease-in-out, height 0.4s ease-in-out; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: -1;}
.btn-6:hover span {width: 225%; height: 562.5px; }
.btn-6:hover {color:#f7f7f7}
.btn-6:active {background-color: #a5b66d; }

.btn-6.violet {background:rgba(46,49,146,0.3)}
.btn-6.violet span {background-color: #2e3192;}
.btn-6.bluee {background:rgba(5,141,189,0.3)}
.btn-6.bluee span {background-color: #058dbd;}
.btn-6.purplee {background:rgba(137,68,159,0.3)}
.btn-6.purplee span {background-color: #89449f;}
.btn-6.peach {background:rgba(228,149,144,0.3)}
.btn-6.peach span {background-color: #e49590;}

.btn-6.redd {background:rgba(233,122,128,0.75)}
.btn-6.redd span {background-color: #e6002e;}



/**
* --------------------------------------------------------------------------
* SLIDER
* --------------------------------------------------------------------------
*/
.main-content {
	overflow: hidden;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dd7a80+0,7db9e8+100 */
	background: #dd7a80; /* Old browsers */
	background: -moz-linear-gradient(top, #dd7a80 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #dd7a80 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #dd7a80 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd7a80', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.home-slider {position: relative;}

.home-slider-wrapper {position: relative; opacity: 0.9}
.home-slider .slick-slide img{width: 100%; position: relative;top: 50%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.home-slider .slick-slide iframe {width: 100% !important;height:100% !important;}
.home-slider .slick-slide figure {margin: 0; width: 100%; height: 100%;}

.home-slider-txt {font-family:'roboto condensed';text-transform: uppercase;bottom: auto;top: 65%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.home-slider-txt h2 {font-family: 'Handlee', cursive;font-size:35px;text-transform: capitalize; color: #373737;}
.home-slider-txt h2 span{font-family: 'Pacifico', cursive;font-weight:bold;display: block;font-size:45px; margin-top: 5px;}

.home-thumbs-slider {position: absolute;top: 70%;-webkit-transform: translateY(-70%); -ms-transform: translateY(-70%); -o-transform: translateY(-70%); transform: translateY(-70%);left: 10%;right: 60%;margin-bottom: 0;}
.home-thumbs-slider img {width:auto;}
.home-thumbs-slider .slick-slide {margin-right: 5px;padding:2px;background:#000;cursor:pointer;height: 50px;display: inline-block; float: none; vertical-align: middle;-webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;}
.home-thumbs-slider .slick-slide.slick-current {background:#d46273;}
.home-thumbs-slider .slick-slide img {height: 100%;}

@media (max-width:600px) {
	.home-thumbs-slider .slick-slide {height: 40px;}
}

@media (max-width:465px) {
	.home-thumbs-slider .slick-slide {height: 30px;}
}

.home-thumbs-slider .slick-dots {bottom: -45px;}
/*
.home-thumbs-slider .slick-dots li {margin: 0;border-radius:0;-webkit-border-radius:0;text-align: center;-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.home-thumbs-slider .slick-dots li button:before {
	content:'';right: 0;margin:auto;background:#fff;width: 8px;height: 8px;border-radius:0;-webkit-border-radius:0;top: 50%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);
}
.home-thumbs-slider .slick-dots li.slick-active button:before {background:#d46273;}
*/

.home-slider-txt {position: absolute;left: 10%;top:50%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);text-align: left;color:#f7f7f7;}
/*.home-slider-txt h2 {text-transform:uppercase;margin-bottom: 0;font-size:40px;}*/
/*.home-slider-txt h2 span {font-size:50px;font-weight:bold;}*/

@media (max-width:1130px) {
	.home-thumbs-slider .slick-dots {bottom: -30px;}
}

@media (max-width:640px){
	.home-thumbs-slider .slick-dots {bottom: -90px;}
}

@media (max-width:1000px){
	.home-slider-txt h2 {font-size:30px;}
	.home-slider-txt h2 span {font-size:40px;}
}

@media (max-width:940px) {
	.home-slider-txt {top: 35%;-webkit-transform: translateY(-35%); -ms-transform: translateY(-35%); -o-transform: translateY(-35%); transform: translateY(-35%);}
}

@media (max-width:750px) {
	.home-slider-txt h2 {font-size:15px;}
	.home-slider-txt h2 span {font-size:20px;}
}

@media (max-width:600px) {
	.home-thumbs-slider .slick-dots {bottom: -80px;}
}

@media (max-width:490px) {
	.home-thumbs-slider .slick-dots {bottom: -60px;}
}

@media (max-width:550px) {
	/*.home-slider-txt {top: 20%; -webkit-transform: translateY(-20%); -ms-transform: translateY(-20%); -o-transform: translateY(-20%); transform: translateY(-20%); }*/
}

.home-slide-btn {position: absolute;text-align: center;bottom: 10%;left: 10%; font-family:roboto condensed;}

@media (max-width:720px) {
	.home-slide-btn {height: 25px; line-height: 2; font-size: 12px;}
}

@media (max-width:640px) {
	.home-slide-btn {bottom:auto;top:60%;-webkit-transform: translateY(-60%); -ms-transform: translateY(-60%); -o-transform: translateY(-60%); transform: translateY(-60%);}
}

@media (max-width:490px) {
	.home-slide-btn {bottom:auto;top:70%;-webkit-transform: translateY(-70%); -ms-transform: translateY(-70%); -o-transform: translateY(-70%); transform: translateY(-70%);}
}

.home-thumbs-slider.slick-dotted.slick-slider {margin-bottom: 10px;}
.home-thumbs-slider .slick-prev, .home-thumbs-slider .slick-next {bottom:-55px;top:auto;z-index:2;}
.home-thumbs-slider .slick-prev {left:0;}
.home-thumbs-slider .slick-next {right:0;}

@media (max-width:1130px) {
	.home-thumbs-slider.slick-dotted.slick-slider {margin-bottom: 0;}
	.home-thumbs-slider .slick-prev, .home-thumbs-slider .slick-next {bottom: -40px;}
}

@media (max-width:640px) {
	.home-thumbs-slider .slick-prev, .home-thumbs-slider .slick-next {bottom:-100px;}
}

@media (max-width:940px) {
	.home-thumbs-slider {top: 63%;-webkit-transform: translateY(-63%); -ms-transform: translateY(-63%); -o-transform: translateY(-63%); transform: translateY(-63%);}
}

@media (max-width:895px) {
	.home-thumbs-slider {right: 50%;}
}

@media (max-width:640px) {
	.home-thumbs-slider .slick-list{display: none;}
}

@media (max-width:600px) {
	.home-thumbs-slider .slick-prev, .home-thumbs-slider .slick-next {bottom: -90px;}
}

@media (max-width:490px) {
	.home-thumbs-slider .slick-prev, .home-thumbs-slider .slick-next {bottom:-71px;}
	.home-thumbs-slider {right: 10%;}
}

@media (max-width:420px) {
	.home-thumbs-slider .slick-prev, .home-thumbs-slider .slick-next {bottom:-71px;}
}

.prod-container img{width: 100%;}
.prod-time {text-align: center;}
.prod-time div {width: 45%;display: inline-block;border:3px solid #000;text-align: center;padding:5px;text-transform:uppercase;line-height:1;margin-bottom: 4px;}
.prod-time div span {display: block;font-size:20px;font-weight:bold;}

@media (min-width:938px){
	.prod-time {display: table;width: 100%;border-collapse: separate; border-spacing: 2px;}
	.prod-time div {display: table-cell;vertical-align: middle;width:auto;}
}

@media (max-width:600px) {
	.prod-time {display: table;width: 100%;border-collapse: separate; border-spacing: 2px;}
	.prod-time div {display: table-cell;vertical-align: middle;width:auto;}
}



.slider-guide {width: 100%;min-height: 700px;position: absolute;z-index:-999;}
